TUPLE manipulation

In [1]:
t= ()

In [2]:
type(t)

tuple

In [3]:
tuple()

()

In [30]:
t1=(123,1.234,"vamsi",True,3+4j)

In [31]:
l1=[123,1.234,"vamsi",True,3+4j]

In [32]:
for i in range(len(t1)):
    print(t1[i])

123
1.234
vamsi
True
(3+4j)

In [33]:
t1[0:4]

(123, 1.234, 'vamsi', True)

In [34]:
t1[0:5:2]

(123, 'vamsi', (3+4j))

In [35]:
t1[::-1]

((3+4j), True, 'vamsi', 1.234, 123)

In [36]:
l1

[123, 1.234, 'vamsi', True, (3+4j)]

In [37]:
l1[0]=456

In [38]:
l1

[456, 1.234, 'vamsi', True, (3+4j)]

In [39]:
t1[0]

123

In [40]:
t1[0]=456

TypeError: 'tuple' object does not support item assignment

In [41]:
t1

(123, 1.234, 'vamsi', True, (3+4j))

In [42]:
t2=(456,"nallam",False)

In [43]:
t1+t2

(123, 1.234, 'vamsi', True, (3+4j), 456, 'nallam', False)

In [44]:
t3=t1+t2
print(t3)

(123, 1.234, 'vamsi', True, (3+4j), 456, 'nallam', False)

In [45]:
t1*3

(123,
 1.234,
 'vamsi',
 True,
 (3+4j),
 123,
 1.234,
 'vamsi',
 True,
 (3+4j),
 123,
 1.234,
 'vamsi',
 True,
 (3+4j))

In [46]:
t1+("devil",135)

(123, 1.234, 'vamsi', True, (3+4j), 'devil', 135)

In [47]:
t1

(123, 1.234, 'vamsi', True, (3+4j))

In [48]:
123 in t1

True

In [50]:
"nallam" in t1

False

In [51]:
max(t1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [52]:
t3

(123, 1.234, 'vamsi', True, (3+4j), 456, 'nallam', False)

In [53]:
t4=(1,2,3,5,8,11)

In [54]:
max(t4)

11

In [55]:
t5=("vamsi","nallam","devil","lucifer")

In [56]:
max(t5)

'vamsi'

In [57]:
min(t5)

'devil'

In [58]:
min(t4)

1

In [61]:
t6=(1.0,2.2,3.33)

In [62]:
max(t6)

3.33

In [77]:
max(1,2,3)

3

In [96]:
tup=(0,)

In [97]:
tup

(0,)

In [98]:
type(tup)

tuple

In [99]:
tup+(2,3)

(0, 2, 3)

In [21]:
lst=[]
h1=0
n=int(input("how many values u will enter: "))
for i in range(n):
    inp=float(input("enter value no {}: ".format(i+1)))
    lst=lst+[inp]
print(lst)
tup=tuple(lst)
print(tup)
print(type(tup))
for i in range(n):
    if tup[i]>=h1:
        h1=tup[i]
    else:
        continue
print("The max value is: ",h1)

how many values u will enter: 5
enter value no 1: 11
enter value no 2: 22
enter value no 3: 44
enter value no 4: 33
enter value no 5: 12
[11.0, 22.0, 44.0, 33.0, 12.0]
(11.0, 22.0, 44.0, 33.0, 12.0)
<class 'tuple'>
The max value is:  44.0

In [50]:
tup=()
h1=0
n=int(input("how many values u will enter: "))
for i in range(n):
    inp=float(input("enter value no {}: ".format(i+1)))
    tup=tup+(inp,)
print(tup)
print(type(tup))
for i in range(n):
    if tup[i]>=h1:
        h1=tup[i]
    else:
        continue
print("The max value is: ",h1)

how many values u will enter: 5
enter value no 1: 1
enter value no 2: 2
enter value no 3: 3
enter value no 4: 5
enter value no 5: 4
(1.0, 2.0, 3.0, 5.0, 4.0)
<class 'tuple'>
The max value is:  5.0

In [22]:
tuple([0,1,2])

(0, 1, 2)

In [23]:
11.11>=11.13

False

In [25]:
lst1=[]
h2=0
n1=int(input("how many values u will enter: "))
for i in range(n1):
    inp1=float(input("enter value no {}: ".format(i+1)))
    lst1=lst1+[inp1]
print(lst1)
tup1=tuple(lst1)
print(tup1)
print(type(tup1))
if tup1[0]<=tup1[1]:
    h2=tup1[0]
else:
    h2=tup1[1]
for i in range(2,n1):
    if tup1[i]<=h2:
        h2=tup1[i]
    else:
        continue
print("The min value is: ",h2)

how many values u will enter: 5
enter value no 1: 11
enter value no 2: 22
enter value no 3: 15
enter value no 4: 16
enter value no 5: 14
[11.0, 22.0, 15.0, 16.0, 14.0]
(11.0, 22.0, 15.0, 16.0, 14.0)
<class 'tuple'>
The min value is:  11.0

In [26]:
min("vamsi","Vamsi")

'Vamsi'

In [27]:
t1=(123,"nallam",1.23)

In [28]:
t1

(123, 'nallam', 1.23)

In [29]:
t1.index(1.23)

2

In [30]:
t2=(1,2,3,1,1,"vamsi","nallam","vamsi","vamsi")

In [31]:
t2.count(1)

3

In [32]:
t2.count("vamsi")

3

In [33]:
l1=[1.99,2.1,3.31,4,4.6,5.33]
h=0
for i in range(6):
    if l1[i]>=h:
        h=l1[i]
    else:
        continue
print(h)

5.33

In [34]:
T=(10,)

In [35]:
type(T)

tuple

In [36]:
len(T)

1

In [37]:
t1

(123, 'nallam', 1.23)

In [38]:
t1+T

(123, 'nallam', 1.23, 10)

In [39]:
L=[1,2,3,"vamsi"]

In [40]:
tuple(L)

(1, 2, 3, 'vamsi')

In [41]:
t1

(123, 'nallam', 1.23)

In [42]:
list(t1)

[123, 'nallam', 1.23]

In [43]:
type(t1)

tuple

In [44]:
x=list(t1)

In [45]:
type(x)

list

In [46]:
y=tuple(input("enter"))
print(y)

enter1222
('1', '2', '2', '2')

In [52]:
t6=()
for i in range(5):
    z=int(input("enter data "))
    t6=t6+(z,)
print(type(t6))
print(t6)

enter data 5
enter data 4
enter data 3
enter data 2
enter data 1
<class 'tuple'>
(5, 4, 3, 2, 1)

In [53]:
t6

(5, 4, 3, 2, 1)

In [55]:
t7=list(t6)

In [56]:
t7

[5, 4, 3, 2, 1]

In [57]:
t7.insert(2,"vamsi")

In [58]:
t7

[5, 4, 'vamsi', 3, 2, 1]

In [59]:
t6=tuple(t7)

In [60]:
t6

(5, 4, 'vamsi', 3, 2, 1)

In [2]:
t=((123,"vamsi",True),"lucifer",13,(456,"nallam",False),4+5j,True,[246,"decker",False])

In [3]:
t

((123, 'vamsi', True),
 'lucifer',
 13,
 (456, 'nallam', False),
 (4+5j),
 True,
 [246, 'decker', False])

In [4]:
for i in t:
    print(type(i))

<class 'tuple'>
<class 'str'>
<class 'int'>
<class 'tuple'>
<class 'complex'>
<class 'bool'>
<class 'list'>

In [5]:
for i in t:
    if type(i)==list:
        for j in i:
            if j==246:
                print("we got ",j)

we got  246

In [6]:
t[6][0]

246

In [7]:
t

((123, 'vamsi', True),
 'lucifer',
 13,
 (456, 'nallam', False),
 (4+5j),
 True,
 [246, 'decker', False])

In [1]:
t1=("vamsi","nallam","devil","lucifer","amenadiel")

In [2]:
inp=input("enter a name: ")
if inp in t1:
    print("{} is in the tuple".format(inp))
else:
    print("{} is not in the tuple".format(inp))

enter a name: vamsi
vamsi is in the tuple

In [10]:
t

((123, 'vamsi', True),
 'lucifer',
 13,
 (456, 'nallam', False),
 (4+5j),
 True,
 [246, 'decker', False])

In [11]:
del(t)

In [12]:
t

NameError: name 't' is not defined

SET

In [17]:
s= set()

In [18]:
type(s)

set

In [29]:
l=[1,2,2,3,4,7,5,6,5,5,"vamsi","vamsi",'nallam',"Vamsi"]

In [30]:
s=set(l)

In [31]:
l

[1, 2, 2, 3, 4, 7, 5, 6, 5, 5, 'vamsi', 'vamsi', 'nallam', 'Vamsi']

In [32]:
s

{1, 2, 3, 4, 5, 6, 7, 'Vamsi', 'nallam', 'vamsi'}

In [33]:
l.count(5)

3

In [32]:
l=[1,2,2,3,4,7,5,6,5,5,"vamsi","vamsi",'nallam',"Vamsi"]
X=[]
X1=[]
X2=[]
X11=[]
X22=[]
for i in l:
    if i in X:
        continue
    else:
        X=X+[i]
print(X)
for j in X:
    if type(j)==int:
        X1=X1+[j]
    elif type(j)==str:
        X2=X2+[j]
print(X1,X2)

[1, 2, 3, 4, 7, 5, 6, 'vamsi', 'nallam', 'Vamsi']
[1, 2, 3, 4, 7, 5, 6] ['vamsi', 'nallam', 'Vamsi']

In [23]:
"vamsi"
print(ord("v"))

118

In [24]:
ord('1')

49

In [25]:
l1=[1,2,2,2,3,4,5,"vamsi","vamsi","vamsi","Vamsi","nallam"]
set(l1)

{1, 2, 3, 4, 5, 'Vamsi', 'nallam', 'vamsi'}

In [26]:
X1

[]

In [27]:
X1

[]

In [125]:
l=[1,2,2,3,4,7,5,6,5,5,"vamsi","vamsi",'nallam',"Vamsi"]
X=[]
for i in l:
    if i in X:
        continue
    else:
        X=X+[i]
print(X)

[1, 2, 3, 4, 7, 5, 6, 'vamsi', 'nallam', 'Vamsi']

In [126]:
X

[1, 2, 3, 4, 7, 5, 6, 'vamsi', 'nallam', 'Vamsi']

In [127]:
xi=[]
xs=[]
for i in X:
    if type(i)==int:
        xi=xi+[i]
    elif type(i)==str:
        xs=xs+[i]
print(xi,xs)

[1, 2, 3, 4, 7, 5, 6] ['vamsi', 'nallam', 'Vamsi']

In [128]:
xi

[1, 2, 3, 4, 7, 5, 6]

In [129]:
xs

['vamsi', 'nallam', 'Vamsi']

In [130]:
m=max(xi)

In [131]:
xi

[1, 2, 3, 4, 7, 5, 6]

In [132]:
xia=[]
while len(xi)!=0:
    j=max(xi)
    xia=xia+[j]
    xi.remove(j)
xia1=xia[::-1]
print(xia1)

[1, 2, 3, 4, 5, 6, 7]

In [133]:
xsa=[]
while len(xs)!=0:
    j=max(xs)
    xsa=xsa+[j]
    xs.remove(j)
xsa1=xsa[::-1]
print(xsa1)

['Vamsi', 'nallam', 'vamsi']

In [134]:
ord('v')

118

In [135]:
ord('n')

110

In [136]:
ord('V')

86

In [137]:
Xnew=xia1+xsa1

In [138]:
Xnew

[1, 2, 3, 4, 5, 6, 7, 'Vamsi', 'nallam', 'vamsi']

In [139]:
X

[1, 2, 3, 4, 7, 5, 6, 'vamsi', 'nallam', 'Vamsi']

In [145]:
l=[1,2,2,3,4,7,5,6,5,5,"vamsi","vamsi",'nallam',"Vamsi"]
X=[]
print("original list is ",l)
for i in l:
    if i in X:
        continue
    else:
        X=X+[i]
print(X)
xi=[]
xs=[]
for i in X:
    if type(i)==int:
        xi=xi+[i]
    elif type(i)==str:
        xs=xs+[i]
print(xi,xs) 
xia=[]
while len(xi)!=0:
    j=max(xi)
    xia=xia+[j]
    xi.remove(j)
xia1=xia[::-1]
print(xia1)
xsa=[]
while len(xs)!=0:
    j=max(xs)
    xsa=xsa+[j]
    xs.remove(j)
xsa1=xsa[::-1]
print(xsa1)
Xnew=xia1+xsa1
print("the result of set fn is ",Xnew)

original list is  [1, 2, 2, 3, 4, 7, 5, 6, 5, 5, 'vamsi', 'vamsi', 'nallam', 'Vamsi']
[1, 2, 3, 4, 7, 5, 6, 'vamsi', 'nallam', 'Vamsi']
[1, 2, 3, 4, 7, 5, 6] ['vamsi', 'nallam', 'Vamsi']
[1, 2, 3, 4, 5, 6, 7]
['Vamsi', 'nallam', 'vamsi']
the result of set fn is  [1, 2, 3, 4, 5, 6, 7, 'Vamsi', 'nallam', 'vamsi']

In [147]:
L=[1,3,5,7,6,4,2]

In [148]:
L.sort()

In [149]:
L

[1, 2, 3, 4, 5, 6, 7]

In [150]:
L1=["vamsi","nallam","devil","vamsi"]

In [152]:
L1.sort()

In [153]:
L1

['devil', 'nallam', 'vamsi', 'vamsi']

In [161]:
#THIS PROGRAM DOES SAME AS set()
l=[1,2,2,3,4,7,5,6,5,5,"vamsi","vamsi",'nallam',"Vamsi","devil","lucifer"]
X=[]
print(l)
for i in l:
    if i in X:
        continue
    else:
        X=X+[i]
xi=[]
xs=[]
for i in X:
    if type(i)==int:
        xi=xi+[i]
    elif type(i)==str:
        xs=xs+[i]
xi.sort()
xs.sort()
Xnew=xi+xs
print(Xnew)

[1, 2, 2, 3, 4, 7, 5, 6, 5, 5, 'vamsi', 'vamsi', 'nallam', 'Vamsi', 'devil', 'lucifer']
[1, 2, 3, 4, 5, 6, 7, 'Vamsi', 'devil', 'lucifer', 'nallam', 'vamsi']

In [163]:
S=["vamsi","nallam","devil","Vamsi","lucifer"]

In [164]:
S.sort()

In [165]:
S

['Vamsi', 'devil', 'lucifer', 'nallam', 'vamsi']

In [15]:
S1=["vvvvv","vvvvav","vvvvV"]

In [16]:
S1.sort()

In [30]:
s=["vamsi","nallam","vamsI","vvvvv","abcdefg"]

In [31]:
s

['vamsi', 'nallam', 'vamsI', 'vvvvv', 'abcdefg']

In [32]:
s.sort()

In [33]:
s

['abcdefg', 'nallam', 'vamsI', 'vamsi', 'vvvvv']

In [9]:
l=[1,3,5,4,2,"vamsi","Vamsi",'nallam']

In [10]:
s=set(l)

In [11]:
s

{1, 2, 3, 4, 5, 'Vamsi', 'nallam', 'vamsi'}

In [12]:
type(s)

set

In [13]:
s1={1,2,3,"vamsi","Vamsi",9}

In [14]:
s1

{1, 2, 3, 9, 'Vamsi', 'vamsi'}

In [15]:
type(s1)

set

In [16]:
s

{1, 2, 3, 4, 5, 'Vamsi', 'nallam', 'vamsi'}

In [17]:
for i in s:
    print(i)

1
2
3
4
5
nallam
Vamsi
vamsi

In [18]:
4 in s

True

In [19]:
s[1]

TypeError: 'set' object is not subscriptable

In [20]:
s

{1, 2, 3, 4, 5, 'Vamsi', 'nallam', 'vamsi'}

In [26]:
s2={1,2,3,455,3,455,3443,"vamsi","sabxksxl",489999372109,3790192}

In [27]:
s2

{1, 2, 3, 3443, 3790192, 455, 489999372109, 'sabxksxl', 'vamsi'}

In [28]:
for i in s2:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
455
<class 'int'>
sabxksxl
<class 'str'>
489999372109
<class 'int'>
3790192
<class 'int'>
3443
<class 'int'>
vamsi
<class 'str'>

In [29]:
set()

set()

In [30]:
s3=set()

In [31]:
s3

set()

In [32]:
s3.add(444)

In [33]:
s3

{444}

In [35]:
s3.add("vamsi")

In [36]:
s3

{444, 'vamsi'}

In [38]:
s4=set("vamsi")

In [39]:
s4

{'a', 'i', 'm', 's', 'v'}

In [40]:
l

[1, 3, 5, 4, 2, 'vamsi', 'Vamsi', 'nallam']

In [41]:
s5=set(l)

In [42]:
s5

{1, 2, 3, 4, 5, 'Vamsi', 'nallam', 'vamsi'}

In [43]:
l1=list(s5)

In [44]:
l1

[1, 2, 3, 4, 5, 'nallam', 'Vamsi', 'vamsi']

In [45]:
s6={10,}

In [46]:
s6

{10}

In [49]:
type(s6)

set

In [52]:
l

[1, 3, 5, 4, 2, 'vamsi', 'Vamsi', 'nallam']

In [53]:
L=[23,34,55,66,12,"vamsi","Nallam",'lucifer',[1,2,3,'devil'],(3,4,6,True)]

In [54]:
for i in L:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'list'>
<class 'tuple'>

In [55]:
T=(3,66,78,9.99,"chloe","mazikeen",False,(2,4,7,'god'),[3,7,3,'vamsi'])

In [57]:
for i in T:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'tuple'>
<class 'list'>

In [123]:
S={44,23,3.12,True,"nallam","Vamsi",(6,8,3,'nalvam')}
#a set cannot hold a list.

In [124]:
print(S)
for i in S:
    print(type(i))

{True, 3.12, (6, 8, 3, 'nalvam'), 44, 'nallam', 23, 'Vamsi'}
<class 'bool'>
<class 'float'>
<class 'tuple'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>

In [125]:
a=10

In [126]:
a="vamsi"

In [127]:
a

'vamsi'

In [128]:
S1={1,2}
for i in S:
    S1.add(i)

In [129]:
S1

{(6, 8, 3, 'nalvam'), 1, 2, 23, 3.12, 44, 'Vamsi', 'nallam'}

In [130]:
type(S1)

set

In [131]:
S2=set()

In [132]:
type(S2)

set

In [133]:
L1=L+[{1,2,3,4}]

In [134]:
L1

[23,
 34,
 55,
 66,
 12,
 'vamsi',
 'Nallam',
 'lucifer',
 [1, 2, 3, 'devil'],
 (3, 4, 6, True),
 {1, 2, 3, 4}]

In [135]:
for i in L1:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>

In [136]:
T1=T+({2,4,6},)

In [137]:
f={1,2,3}

In [138]:
type(f)

set

In [139]:
f1=(f,)

In [140]:
type(f1)

tuple

In [141]:
T1

(3,
 66,
 78,
 9.99,
 'chloe',
 'mazikeen',
 False,
 (2, 4, 7, 'god'),
 [3, 7, 3, 'vamsi'],
 {2, 4, 6})

In [142]:
for i in T1:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'tuple'>
<class 'list'>
<class 'set'>

In [143]:
T2=T+([2,3,4],)

In [144]:
T2

(3,
 66,
 78,
 9.99,
 'chloe',
 'mazikeen',
 False,
 (2, 4, 7, 'god'),
 [3, 7, 3, 'vamsi'],
 [2, 3, 4])

In [145]:
tuple([1,2,3,4])

(1, 2, 3, 4)

In [146]:
S

{(6, 8, 3, 'nalvam'), 23, 3.12, 44, True, 'Vamsi', 'nallam'}

In [147]:
S

{(6, 8, 3, 'nalvam'), 23, 3.12, 44, True, 'Vamsi', 'nallam'}

In [148]:
S.add(100)

In [149]:
S

{(6, 8, 3, 'nalvam'), 100, 23, 3.12, 44, True, 'Vamsi', 'nallam'}

In [150]:
S.remove(100)

In [151]:
S

{(6, 8, 3, 'nalvam'), 23, 3.12, 44, True, 'Vamsi', 'nallam'}

In [152]:
x={}

In [153]:
type(x)

dict

In [156]:
x1={1}

In [157]:
type(x1)

set

In [158]:
dict()

{}

In [159]:
d={"name":"vamsi","age":20}

In [160]:
d

{'name': 'vamsi', 'age': 20}

In [165]:
d['name']

'vamsi'

In [166]:
d['age']

20

In [167]:
type(d)

dict

In [168]:
len(d)

2

In [172]:
for i in d:
    print(i)

name
age

In [232]:
D={"name":'vamsi',"age":20,"name":"nallam",True:"devil",123:2345,False:"lucifer","key":3+4j,
   (1,2,3):123334,12_2:123,"list":[1,2,3],"tup":(2,4,6),"dict":{"nn":269,"mm":"vamsiii"},"set":{1,2,3}}

In [233]:
D

{'name': 'nallam',
 'age': 20,
 True: 'devil',
 123: 2345,
 False: 'lucifer',
 'key': (3+4j),
 (1, 2, 3): 123334,
 122: 123,
 'list': [1, 2, 3],
 'tup': (2, 4, 6),
 'dict': {'nn': 269, 'mm': 'vamsiii'},
 'set': {1, 2, 3}}

In [234]:
len(D)

12

In [235]:
D[0]

'lucifer'

In [236]:
for i in D:
    print(i)

name
age
True
123
False
key
(1, 2, 3)
122
list
tup
dict
set

In [237]:
D

{'name': 'nallam',
 'age': 20,
 True: 'devil',
 123: 2345,
 False: 'lucifer',
 'key': (3+4j),
 (1, 2, 3): 123334,
 122: 123,
 'list': [1, 2, 3],
 'tup': (2, 4, 6),
 'dict': {'nn': 269, 'mm': 'vamsiii'},
 'set': {1, 2, 3}}

In [238]:
D['name']

'nallam'

In [239]:
D['dict']

{'nn': 269, 'mm': 'vamsiii'}

In [243]:
for i in D:
    print(i,D[i],type(D[i]))

name nallam <class 'str'>
age 20 <class 'int'>
True devil <class 'str'>
123 2345 <class 'int'>
False lucifer <class 'str'>
key (3+4j) <class 'complex'>
(1, 2, 3) 123334 <class 'int'>
122 123 <class 'int'>
list [1, 2, 3] <class 'list'>
tup (2, 4, 6) <class 'tuple'>
dict {'nn': 269, 'mm': 'vamsiii'} <class 'dict'>
set {1, 2, 3} <class 'set'>

In [245]:
D["list"][2]

3

In [250]:
list(D)

['name',
 'age',
 True,
 123,
 False,
 'key',
 (1, 2, 3),
 122,
 'list',
 'tup',
 'dict',
 'set']

In [251]:
tuple(D)

('name',
 'age',
 True,
 123,
 False,
 'key',
 (1, 2, 3),
 122,
 'list',
 'tup',
 'dict',
 'set')

In [252]:
D

{'name': 'nallam',
 'age': 20,
 True: 'devil',
 123: 2345,
 False: 'lucifer',
 'key': (3+4j),
 (1, 2, 3): 123334,
 122: 123,
 'list': [1, 2, 3],
 'tup': (2, 4, 6),
 'dict': {'nn': 269, 'mm': 'vamsiii'},
 'set': {1, 2, 3}}

In [255]:
L

[23,
 34,
 55,
 66,
 12,
 'vamsi',
 'Nallam',
 'lucifer',
 [1, 2, 3, 'devil'],
 (3, 4, 6, True)]

In [256]:
D1={"name":'vamsi',"age":21,True:123}

In [257]:
D1

{'name': 'vamsi', 'age': 21, True: 123}

In [258]:
D1["name"]="nallam"

In [259]:
D1

{'name': 'nallam', 'age': 21, True: 123}

In [260]:
D.keys()

dict_keys(['name', 'age', True, 123, False, 'key', (1, 2, 3), 122, 'list', 'tup', 'dict', 'set'])

In [261]:
D.values()

dict_values(['nallam', 20, 'devil', 2345, 'lucifer', (3+4j), 123334, 123, [1, 2, 3], (2, 4, 6), {'nn': 269, 'mm': 'vamsiii'}, {1, 2, 3}])

In [262]:
D.items()

dict_items([('name', 'nallam'), ('age', 20), (True, 'devil'), (123, 2345), (False, 'lucifer'), ('key', (3+4j)), ((1, 2, 3), 123334), (122, 123), ('list', [1, 2, 3]), ('tup', (2, 4, 6)), ('dict', {'nn': 269, 'mm': 'vamsiii'}), ('set', {1, 2, 3})])

In [263]:
type(D.items())

dict_items

In [265]:
for i in D.items():
    print(i,type(i))

('name', 'nallam') <class 'tuple'>
('age', 20) <class 'tuple'>
(True, 'devil') <class 'tuple'>
(123, 2345) <class 'tuple'>
(False, 'lucifer') <class 'tuple'>
('key', (3+4j)) <class 'tuple'>
((1, 2, 3), 123334) <class 'tuple'>
(122, 123) <class 'tuple'>
('list', [1, 2, 3]) <class 'tuple'>
('tup', (2, 4, 6)) <class 'tuple'>
('dict', {'nn': 269, 'mm': 'vamsiii'}) <class 'tuple'>
('set', {1, 2, 3}) <class 'tuple'>

In [266]:
D1

{'name': 'nallam', 'age': 21, True: 123}

In [269]:
for i in D1.items():
    print(i,i[0],i[1])

('name', 'nallam') name nallam
('age', 21) age 21
(True, 123) True 123

In [4]:
inp=input("enter a scentence with space atlast: ")
l=[]
s=''
count=0
for i in range(len(inp)):
    if inp[i]==" ":
        l=l+[s]
        s=''
    else:
        s=s+inp[i]
print(l) 
print('\r')
L=[]
for j in l:
    if j in L:
        continue
    else:
        L=L+[j]
print(L)
print('\r')
d={}
for k in L:
    d[k]="vamsi"
print(d)
print('\r')
print(tuple(d.items()))
print('\r')
print(list(d.items()))

enter a scentence with space atlast: my name is name vamsi iam studying btech 3rd 3rd year
['my', 'name', 'is', 'name', 'vamsi', 'iam', 'studying', 'btech', '3rd', '3rd', 'year']
['my', 'name', 'is', 'vamsi', 'iam', 'studying', 'btech', '3rd', 'year']
{'my': 'vamsi', 'name': 'vamsi', 'is': 'vamsi', 'vamsi': 'vamsi', 'iam': 'vamsi', 'studying': 'vamsi', 'btech': 'vamsi', '3rd': 'vamsi', 'year': 'vamsi'}
(('my', 'vamsi'), ('name', 'vamsi'), ('is', 'vamsi'), ('vamsi', 'vamsi'), ('iam', 'vamsi'), ('studying', 'vamsi'), ('btech', 'vamsi'), ('3rd', 'vamsi'), ('year', 'vamsi'))
[('my', 'vamsi'), ('name', 'vamsi'), ('is', 'vamsi'), ('vamsi', 'vamsi'), ('iam', 'vamsi'), ('studying', 'vamsi'), ('btech', 'vamsi'), ('3rd', 'vamsi'), ('year', 'vamsi')]

In [2]:
in1=input("enter a scentence: ")
l=in1.split(" ")
print(l)
l1=set(l)
print(l1)
d=dict.fromkeys(l1,"vamsi")
print(d)
print(tuple(d.items()))
print(list(d.items()))

enter a scentence: my name is vamsi vamsi iam studying btech btech 3rd year
['my', 'name', 'is', 'vamsi', 'vamsi', 'iam', 'studying', 'btech', 'btech', '3rd', 'year']
{'3rd', 'studying', 'name', 'year', 'iam', 'my', 'btech', 'vamsi', 'is'}
{'3rd': 'vamsi', 'studying': 'vamsi', 'name': 'vamsi', 'year': 'vamsi', 'iam': 'vamsi', 'my': 'vamsi', 'btech': 'vamsi', 'vamsi': 'vamsi', 'is': 'vamsi'}
(('3rd', 'vamsi'), ('studying', 'vamsi'), ('name', 'vamsi'), ('year', 'vamsi'), ('iam', 'vamsi'), ('my', 'vamsi'), ('btech', 'vamsi'), ('vamsi', 'vamsi'), ('is', 'vamsi'))
[('3rd', 'vamsi'), ('studying', 'vamsi'), ('name', 'vamsi'), ('year', 'vamsi'), ('iam', 'vamsi'), ('my', 'vamsi'), ('btech', 'vamsi'), ('vamsi', 'vamsi'), ('is', 'vamsi')]